
.example-icon {
    padding: 0 54px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  
  
  .mat-nav-list{
    min-width: 200px;
    max-width: 200px;
   
   
    transition: all 0.3s;
   color: white;
    min-height: 100vh;
   
  }
  .mat-sidenav-content{
    min-height: 100vh;
  }
  
  
  